# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

# Environment:
.env
venv/
env/

# VSCode/IDE
.vscode/
.idea/

# Static/media (optional)
staticfiles/
media/
